.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(218, 23%, 16%);
}

.advice-container {
  background-color: hsl(217, 19%, 24%);
  width: 34%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  border-radius: 1.2rem;
  position: relative;
}

.advice-id {
  color:hsl(150, 100%, 66%)
}

.advice {
  color: hsl(193, 38%, 86%);
  font-size: 1.7rem;
}

.divider {
  width: 90%;
  object-fit: contain;
}

.btn {
  background-color: hsl(150, 100%, 66%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 90%;
}

.btn:hover {
  box-shadow: 3px 3px 13px hsl(150, 100%, 66%);
  box-shadow: -3px -3px 13px hsl(150, 100%, 66%);

}